/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
$mono-stack: 'Roboto Mono', monospace !default;

/* Colours */
$black: #222;
$pink: #e83e8c;
$silver: #f8f8f8;
$white: #fff;

/* Styles */
.subheader {
  margin-bottom: 0;
  padding: 0 1rem;
  border-bottom: 1px solid $silver;
}

.grid {
  display: grid;
  grid-template-areas: 'editor' 'formatted' 'html';
  height: calc(100vh - 54px); /* 100% - nav height */
}

#editor {
  border-bottom: 1px solid darken($silver, 10%);
  border-right: 1px solid darken($silver, 10%);
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  grid-area: editor;

  & > [contenteditable] {
    font-family: $mono-stack;
    height: 100%;
    max-height: 100%;
    padding: 1rem;
  }
}

#formatted {
  border-bottom: 1px solid darken($silver, 10%);
  grid-area: formatted;
}

#html {
  grid-area: html;
}

#content,
#source {
  height: 100%;
  overflow: auto;
  padding: 1rem;
}

#content {
  /* set default tag styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  p,
  table,
  ul,
  ol,
  pre {
    margin-bottom: 0.75em;
  }

  h1 {
    font-size: 1.75em;
  }

  h2 {
    border: none;
    padding: 0;
  }

  table {
    border-bottom: 1px solid darken($silver, 20%);
    border-spacing: 0;
    width: 100%;

    th {
      border-bottom: 1px solid darken($silver, 20%);
    }
    th,
    td {
      padding: 0.5em 4px;
    }

    tbody tr:nth-child(even) {
      background-color: $silver;
    }
  }
  ul,
  ol {
    margin-left: 1em;
  }

  code {
    color: $pink;
    display: inline-block;
    font-family: $mono-stack;
    font-size: 1rem;
    padding: 0 2px;
    word-break: break-word;
  }

  pre {
    background-color: $silver;
    padding: 0.5rem;
    width: 100%;

    code {
      color: $black;
      font-size: 0.875rem;
    }
  }
}

#source {
  background-color: $white;
  font-family: $mono-stack;
  font-size: 0.875rem;
}

/* Media queries */
@media screen and (min-width: 48rem) {
  .grid {
    grid-template-areas: 'editor formatted' 'editor html';
    grid-template-columns: 1fr 1fr;
  }

  #editor {
    border-bottom: none;
  }
}
